[Unit]
Description={{package_shortdesc}}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
Environment=TERM=xterm
Environment=PATH=/sbin:/usr/sbin:/bin:/usr/bin:/usr/local/bin
User={{package_install_user}}
Group={{package_install_group}}
LimitNOFILE=102400
ExecStart=/usr/{{bin_or_sbin}}/{{package_install_name}} foreground
ExecStop=/usr/{{bin_or_sbin}}/{{package_install_name}} stop
WorkingDirectory=/var/lib/{{package_install_name}}
RuntimeDirectory={{package_install_name}}
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
